table#item-manage-list.table
    tr
        th 序号
        th 商品名称
        th 商品数量
        th 单价(元)
        th 单位
        th 发布时间
        th 操作
    each item, index in items
        tr.list-item
            td.item-index= index + 1
            td.item-name= item.name
            td.item-count
                .btn-group
                    button.btn.btn-default -
                    input.btn.btn-default.number(type='text', value=item.amount)
                    button.btn.btn-default +
            td.item-price= item.price
            td.item-unit= item.unit
            td.item-created-at= item.birth
            td.item-operation
                a.item-detail 详情
                a.item-delete  删除