table#item-manage-list.table
    tr
        th 序号
        th 商品名称
        th 商品数量
        th 单价(元)
        th 单位
        th 发布时间
        th 操作
    each item, index in items
        tr.list-item
            td.item-index= index + 1
            td.item-name= item.name
            td.item-count
                .btn-group
                    button.btn.btn-default -
                    input.btn.btn-default.number(type='text', value=item.amount)
                    button.btn.btn-default +
            td.item-price= item.price
            td.item-unit= item.unit
            td.item-created-at= item.birth
            td.item-operation
                - var link = '/admin/detail/' + item.name
                a.item-detail(href= link) 详情
                a.item-delete  删除
#page.text-center
    ul.pagination
        - var prev = +now - 1
        - var next = +now + 1

        - var cprev = prev >= 1? '': 'disabled'
        li(class= cprev)
            - var hprev = '/admin/page/' + prev
            a(href= hprev) &laquo;
        - var index = 1
        while index <= total
            li
                - var link = '/admin/page/' + index
                a(href= link)= index++
        - var cnext = next <= total? '': 'disabled'
        li(class= cnext)
            - var hnext = '/admin/page/' + next
            a(href= hnext) &raquo;
