extends background

block content
    .panel.panel-default
        .panel-heading
            p 商品信息管理
            a.btn.btn-primary(href='admin/new_item') 添加商品
        .panel-body
            table#item-manage-list.table
                tr
                    th 序号
                    th 商品名称
                    th 商品数量
                    th 单价(元)
                    th 单位
                    th 发布时间
                    th 操作
                each item, index in items
                    tr
                        td= index + 1
                        td= item.name
                        td
                            .btn-group
                                button.btn.btn-default -
                                input.btn.btn-default.item-count(type='text', value=item.count)
                                button.btn.btn-default +
                        td= item.price
                        td= item.unit
                        td= item.releaseTime
                        td
                            a 详情
                            a.item-delete  删除
